* {
	margin: 0px;
	padding: 0;
}

html {
	background: url('Img/Backgrounds/rain1.gif') no-repeat  ;
	background-size: 100%;
	background-color: #000117;
	height: 2000px;
}

body {
	font-size: 1.1em;
	font-family: "segoe ui", sans-serif;
	width: 100%;
}

html, body {margin: 0; }

header {
	position: fixed;
	height: 6vw;
	font-family: helvetica;
	font-size: 3vw;
	width: 100%;
	
}



.header {
	margin-top: 1%;
	float: left;
	margin-left: 2vw;
	margin-right:;
	font-size: 1.1em;
	font-weight: bold;
}

.Logo {
	font-weight: bold;
	font-size: 4vw
}






a {
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
	transition: all.6s ease;
	-moz-transition: all.6s ease;
	-webkit-transition: al6.1s ease;
	-ms-transition: all.6s ease;
	margin-left: 1em
}

a:hover {
	color: rgba(255, 255,255, 1);
	text-decoration: none;
	text-shadow: 0px 0px 0px rgba(0,0,0,0.5), 0 0 2px black;
	transition: all.6s ease;
	-moz-transition: all.6s ease;
	-webkit-transition: all.6s ease;
	-ms-transition: all.6s ease;
}

a.Logo {
	color: rgba(255, 0, 0, 0.8);
	text-decoration: none;
	text-shadow: 0px 0px 0px rgba(0,0,0,0.5), 0 0 2px black;
	transition: all.6s ease;
	-moz-transition: all.6s ease;
	-webkit-transition: al6.1s ease;
	-ms-transition: all.6s ease;
}

a.Logo:hover {
	color: rgba(255, 200, 200, 1);
	text-decoration: none;
	text-shadow: 0px 0px 0px rgba(0,0,0,0.5), 0 0 2px black;
	transition: all.6s ease;
	-moz-transition: all.6s ease;
	-webkit-transition: all.6s ease;
	-ms-transition: all.6s ease;
}

.Slogo1 {
	float:left;
	width:70%;
	margin-left:10%;
	font-family: Harlow Solid Italic;
	font-size: 20vw;
	color: rgba(255,50,50,0.8);
	overflow: hidden;
}

.Slogo2 {
	position: relative;
	bottom: 5vw;
	float: left;
	width: 29 vw;
	margin-left: 45%;
	font-family: comic sans MS;
	font-size: 4vw;
	color: rgba(255,255,255,0.8);
}

#Propusk {
	float: left;
	width: 100%;
	height: 10vw;
	display: block;
}

article {
	margin-top: 16vw;
	background-color: #000117;
	float: left;
	min-height: 10vw;
	width: 100%;
	border-top: 1px solid white;
	font-size: 1.1em;
	color: white;
}


	/*
	C:/Users/RedFoxInternational/Desktop/гифка/rain.gif
	http://ic.pics.livejournal.com/agent_provokat/78238912/81374/81374_original.gif
	*/
	
	/* красивые шрифты :
	Harlow Solid Italic		Mistral		helvetica	segoe ui	sans-serifSegoe	script Segoe script*/