* {
	margin: 0px;
	padding: 0;
}

html {
	background: url('Img/Backgrounds/rain1.gif') no-repeat  ;
	background-size: 100%;
	background-color: #000117;
}

body {
	font-size: 1.1em;
	font-family: "segoe ui", sans-serif;
	width: 100%;
}

html, body {margin: 0; height: 100%; overflow: hidden}

header {
	position: fixed;
	border-bottom: 1px solid white;
	height: 5vw;
	font-family: helvetica;
	font-size: 1.3em;
	width: 100%;
	
}



.header {
	margin-top: 1%;
	float: left;
	margin-left: 2vw;
	margin-right:;
	font-size: 1.1em;
	font-weight: bold;
}

.Logo {
	font-weight: bold;
	font-size: 3vw
}






a {
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
	transition: all.6s ease;
	-moz-transition: all.6s ease;
	-webkit-transition: al6.1s ease;
	-ms-transition: all.6s ease;
	margin-left: 1em
}

a:hover {
	color: rgba(255, 255,255, 1);
	text-decoration: none;
	text-shadow: 0px 0px 0px rgba(0,0,0,0.5), 0 0 2px black;
	transition: all.6s ease;
	-moz-transition: all.6s ease;
	-webkit-transition: all.6s ease;
	-ms-transition: all.6s ease;
}

a.Logo {
	color: rgba(255, 0, 0, 0.8);
	text-decoration: none;
	text-shadow: 0px 0px 0px rgba(0,0,0,0.5), 0 0 2px black;
	transition: all.6s ease;
	-moz-transition: all.6s ease;
	-webkit-transition: al6.1s ease;
	-ms-transition: all.6s ease;
}

a.Logo:hover {
	color: rgba(255, 200, 200, 1);
	text-decoration: none;
	text-shadow: 0px 0px 0px rgba(0,0,0,0.5), 0 0 2px black;
	transition: all.6s ease;
	-moz-transition: all.6s ease;
	-webkit-transition: all.6s ease;
	-ms-transition: all.6s ease;
}

.Slogo1 {
float:left;
width:70%;

margin-top: 6vw;
max-margin-left:15%;
max-margin-right:15%;

font-family: Harlow Solid Italic;
	font-size: 10em;
	color: white;

}

.Slogo {
	float: left;
	position: absolute;
}

	/*
	C:/Users/RedFoxInternational/Desktop/гифка/rain.gif
	http://ic.pics.livejournal.com/agent_provokat/78238912/81374/81374_original.gif
	*/
	
	/* красивые шрифты :
	Harlow Solid Italic		helvetica	segoe ui	sans-serifSegoe	script Segoe script*/